- if current_user

  %ul.nav.nav-tabs.nav-stacked.posts
    = render @posts

  = will_paginate @posts

- else

  .jumbotron
    %h1 Welcome to rubbit
    %p Prepare for death!
    %p You have to sign up before you get the Kool-Aid.
